body {
    font-family: Helvetica, sans-serif;
    color: #354046;
    line-height: 1.4;
    font-size: 11pt;
    word-wrap: break-word;
}


/* Remark ------------------------------------------------------------------- */

.remark-container {
    background: #ddd;
}

.remark-slide-content {
    font-size: 1.4em;
    border-top: solid 5px #520b92;
}

.remark-slide-content h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 .5em 0;
    color: #520b92;
}

.remark-slide-content h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 .5em 0;
}

.remark-slide-content h3 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.remark-slide-number {
    font-size: 0.5em;
    bottom: 2em;
}


/* Styles ------------------------------------------------------------------- */

a {
    color: #008000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-style: normal;
    font-weight: bold;
}

.larger {
    font-size: 1.3em;
}

.smaller-x {
    font-size: 0.8em;
}

.smaller-xx {
    font-size: 0.5em;
}

.katex {
    color: black;
}

.black-slide  .katex, .black-slide h1, .black-slide a {
    color: white;
}

.remark-code {
    font-size: 0.9em;
}

ul > li, ol > li {
     margin: 0.6em 0;
}

ul > li > ul > li {
    font-size: 0.8em;
}

.caption {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.circle img {
    border-radius: 50%;
}

.stretch img {
    width: 100%;
    height: auto;
}

.footnote {
  position: absolute;
  bottom: 0.5em;
  font-size: 0.8em;
  opacity: 0.9;
  left: 1.5em;
}

.footnote a{
    color: #0288d1; /*#20707e;*/
}

.inactive {
    color: lightgray;
}

.success {
    background-color: rgba(40,167,69,0.25);
    border: 2px solid rgb(40,167,69);
    border-radius: 5px;
    width: 95%;
    display: block;
    padding: 1em;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    border-radius: 5px;
    width: 95%;
    display: block;
    padding: 1em;
}

.hljs-github .hljs-comment, .hljs-github .hljs-quote {
    color: #8e4a10;
}

.hljs-github .hljs {
    padding: 0.4em;
}


/* Placement ---------------------------------------------------------------- */

.pull-left {
    float: left;
    margin-right: 1em;
}

.pull-right {
    float: right;
    margin-left: 1em;
}

.width-5 * {
    width: 5%;
}

.width-10 * {
    width: 10%;
}

.width-15 * {
    width: 15%;
}

.width-20 * {
    width: 20%;
}

.width-25 * {
    width: 25%;
}

.width-30 * {
    width: 30%;
}

.width-35 * {
    width: 35%;
}

.width-40 * {
    width: 40%;
}

.width-45 * {
    width: 45%;
}

.width-50 * {
    width: 50%;
}

.width-55 * {
    width: 55%;
}

.width-60 * {
    width: 60%;
}

.width-65 * {
    width: 65%;
}

.width-70 * {
    width: 70%;
}

.width-75 * {
    width: 75%;
}

.width-80 * {
    width: 80%;
}

.width-85 * {
    width: 85%;
}

.width-90 * {
    width: 90%;
}

.width-95 * {
    width: 95%;
}

.width-100 * {
    width: 100%;
}

.width-105 * {
    width: 105%;
}

.width-110 * {
    width: 110%;
}

.width-115 * {
    width: 115%;
}

.width-120 * {
    width: 120%;
}

.width-125 * {
    width: 125%;
}

.width-130 * {
    width: 130%;
}

.width-135 * {
    width: 135%;
}

.width-140 * {
    width: 140%;
}

.width-145 * {
    width: 145%;
}

.width-150 * {
    width: 150%;
}

.width-155 * {
    width: 155%;
}

.width-160 * {
    width: 160%;
}

.width-165 * {
    width: 165%;
}

.width-170 * {
    width: 170%;
}

.width-175 * {
    width: 175%;
}

.width-180 * {
    width: 180%;
}

.width-185 * {
    width: 185%;
}

.width-190 * {
    width: 190%;
}

.width-195 * {
    width: 195%;
}

.width-200 * {
    width: 200%;
}


/* Specials ----------------------------------------------------------------- */

.title-slide {
    vertical-align: middle;
    font-size: 1.8em;
    text-align: center;
}

.chapter-slide {
    background-color: #520b92;
    color: white;
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
}

.chapter-slide h1 {
    color: white;
}

.black-slide {
    background-color: black;
    color: white;
    border-top: solid 0px;
}

.red-slide {
    background-color: red;
    color: white;
    border-top: solid 0px;
}

.icon-social {
    display: inline-block;
    height: 24px;
    width: 60px;
    background-image: url(social.svg);
}

.icon-social-white {
    display: inline-block;
    height: 24px;
    width: 60px;
    background-image: url(social.svg);
    filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(253deg) brightness(106%) contrast(106%);
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    table-layout: fixed;
}

table thead {
    border-bottom: 1px solid black;
    vertical-align: bottom;
}

table tr,
table th,
table td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

table th {
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background: #f5f5f5;
}

table tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}

table.alternationg{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

table.alternating td, table.alternating tr {
    border: none;
}

table.alternating tbody tr:nth-child(odd) {
    background: #f0f0f0;
}

/* grid */

/* Uncomment and set these variables to customize the grid. */

.grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.grid.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.grid,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.grid {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.grid-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.grid-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.grid-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.grid-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.grid-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.grid-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.grid-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.grid-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.grid-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.grid-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.grid-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.grid-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
